html , body {
    // width: 100%;
    // @include phone {
    //     overflow-x: hidden;
    // }
}

body {
    font-style: normal;
    text-rendering: optimizeLegibility;
    overflow-x: overlay;
    box-sizing: border-box;
    font-family: 'Apple SD Gothic Neo', 'Spoqa Han Sans', 'Noto Sans KR', 'Malgun Gothic', 'Dotum', sans-serif;

    @include hardSelect {
        font-weight: 300;
        font-size: 16px;
        line-height: normal;
        letter-spacing: $SIZE_letterspacing_default;
        color: $COLOR_navy_1;
    }

    &.st-lockscroll {
        width: 100vw; height: 100%;
        overflow: hidden;
    }

    @include phone {
        overflow-x: hidden;
    }

}

.image-box {
    display: inline-block;
    img {
        width: 100%; height: 100%;
        display: inline-block;
        vertical-align: top;
    }
}

.fw {
    &-100 {font-weight: 100;}
    &-200 {font-weight: 200;}
    &-300 {font-weight: 300;}
    &-400 {font-weight: 400;}
    &-500 {font-weight: 500;}
    &-600 {font-weight: 600;}
    &-700{font-weight: 700;} &-b {font-weight: 700;}
    &-800 {font-weight: 800;}
    &-900 {font-weight: 900;}
}

.visible {
    &-phone {
        @include overPhone { display: none; }
    }
    &-overphone {
        @include phone { display: none; }
    }
}

.page-contents .section__outer{
    min-width: $SIZE_PC_contentWidth;
    position: relative;

    @include phone {
        min-width : 100%;
    }

    .section__inner {
        position: relative;
        z-index: 10;
        padding : 0 $SIZE_PC_outlinePadding;
        box-sizing: border-box;
        margin-left : auto;
        margin-right :auto;
        width: $SIZE_PC_contentWidth;
        @include phone {
            padding : 0 $SIZE_MO_outlinePadding;
            width: auto;
            max-width : 540px;
            // min-width : 100%;
            // border: 1px solid #d3d;
        }
    }

    .section__source {
        top: 0;left: 0;
    }

}

.showing-section {
    padding: 100px 0;
    word-break: keep-all;
    font-weight: 300;

    @include phone {
        padding: 80px 0;
    }

    .showing__subtitle {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 700;

        .icon{
            // margin-right: 8px;
        }
    }

    .showing__title {
        font-size: 48px;
        margin-top: 18px;
        line-height: $SIZE_lineheight_low;

        @include phone {
            margin-top: 30px;
            font-size: 36px;
            margin-right: 10vw;
        }
    }
    .showing__description {
        font-size: 16px;
        margin-top: 18px;
        line-height: $SIZE_lineheight_high;
        @include phone {
            margin-top: 30px;
            font-size: 22px;
            margin-right: 10vw;
        }

        ul {
            li {
                list-style: auto;
                position: relative;
                display: flex;
                &+li {
                    margin-top: 8px;
                }
                &::before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    width: 4px; height: 4px;
                    border-radius: 9999px;
                    background-color:$COLOR_navy_1;
                    top: 8px;
                    margin-right: 8px;
                }
            }
        }
    }

    .showing__precautions {
        line-height: $SIZE_lineheight_high;
        font-size: 14px;
        margin-top: 18px;
        li {
            color: #999;
        }
    }

    .showing__link {
        margin-top: 28px;
        display: inline-flex;
        align-items: center;
        font-size: 22px;
        font-weight: 700;
        position: relative;

        .icon--arrow {
            margin-bottom: 2px;
            margin-left: 10px;
        }
    }

    .showing__source {
        // pointer-events: none;
    }

    &.type-right {
        text-align: right;

        .section__inner {
            flex-direction: row-reverse;
        }

        .showing__subtitle {
            flex-direction: row-reverse;
        }

        .showing__title {
            @include phone {
                margin-right: 0; margin-left: 10vw;
            }
        }
        .showing__description {
            ul {
                li {
                    &::before {
                        margin-left: auto;
                    }
                }
            }
            @include phone {
                margin-right: 0; margin-left: 10vw;
            }
        }

    }

}
