html , body {
    // width: 100%;
    @include phone {
        overflow-x: hidden;
    }
}

body {
    font-family:
        'Apple SD Gothic Neo',
        'Spoqa Han Sans',
        'Noto Sans KR',
        'Malgun Gothic',
        'Dotum',
        sans-serif ,
    ;
    text-rendering: optimizeLegibility;
    letter-spacing: -0.04em;
    @include hardSelect {
        font-weight: 300;
        font-size: 16px;
        line-height: 1em;
        color: $COLOR_default_1;
    }
}

.fw {
    &-100 {font-weight: 100;}
    &-200 {font-weight: 200;}
    &-300 {font-weight: 300;}
    &-400 {font-weight: 400;}
    &-500 {font-weight: 500;}
    &-600 {font-weight: 600;}
    &-700{font-weight: 700;} &-b {font-weight: 700;}
    &-800 {font-weight: 800;}
    &-900 {font-weight: 900;}
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 10px; height: 10px;

    &.icon--account {
        background-image: url('~@/assets/icon/icon_account_person.svg');
        &.c-white {background-image: url('~@/assets/icon/icon_account_person_white.svg')}
    }
    &.icon--dropdown-arrow {
        background-image: url('~@/assets/icon/icon_dropdown_arrow.svg');
        &.c-white {background-image: url('~@/assets/icon/icon_dropdown_arrow_white.svg')}
    }
    &.icon--signout-arrow {
        background-image: url('~@/assets/icon/icon_signout_arrow.svg');
        // &.c-white {background-image: url('~@/assets/icon/icon_signout_arrow_white.svg')}
    }


}