// [class^=icon] {
.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 10px; height: 10px;

    &.icon--account {
        background-image: url('~@/assets/icon/icon_account_person.svg');
        &.c-white {background-image: url('~@/assets/icon/icon_account_person_white.svg')}
    }
    &.icon--dropdown-arrow {
        background-image: url('~@/assets/icon/icon_dropdown_arrow.svg');
        &.c-white {background-image: url('~@/assets/icon/icon_dropdown_arrow_white.svg')}
    }
    &.icon--signout-arrow {
        background-image: url('~@/assets/icon/icon_signout_arrow.svg');
        // &.c-white {background-image: url('~@/assets/icon/icon_signout_arrow_white.svg')}
    }

    &.icon--alphabet {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_alphabet.svg');
    }
    &.icon--movieslate {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_movieslate.svg');
    }
    &.icon--talkwow {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_talkwow.svg');
    }
    &.icon--waypoint {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_waypoint.svg');
    }
    &.icon--movieslate {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_movieslate.svg');
    }
    &.icon--uppergraph {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_uppergraph.svg');
    }
    &.icon--todoenglish-school {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_todoenglish_school.svg');
    }
    &.icon--use-tablet {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_use_tablet.svg');
    }
    &.icon--calendar {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_calendar.svg');
    }
    &.icon--redflag {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_redflag.svg');
    }
    &.icon--talking {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_talking.svg');
    }
    &.icon--todo-logo {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_todologo.svg');
    }

    &.icon--arrow {
        width: 19px; height: 19px;
        background-image: url('~@/assets/icon/icon_arrow_purple.svg');
        &.c-cyan    {background-image: url('~@/assets/icon/icon_arrow_cyan.svg');}
        &.c-yellow  {background-image: url('~@/assets/icon/icon_arrow_yellow.svg');}
        &.c-green   {background-image: url('~@/assets/icon/icon_arrow_green.svg');}
    }

    &.icon--arrow-simple {
        width: 20px; height: 20px;
        background-size: 200%;
        overflow: hidden;
        background-position: 0 0 ;
        background-image: url('~@/assets/icon/icon_arrow_simple_1.svg');
        transition: background-position 300ms $EASE_outCubic;

        &.type-top , &.type-bottom{
            background-size: 100%;
            background-image: url('~@/assets/icon/icon_arrow_simple_2.svg');
        }

        &.type-left {}
        &.type-right {background-position: 100% 0;}
        &.type-top {}
        &.type-bottom {background-position: 0 100%;}

    }

    &.icon--playbutton {
        width: 38px; height: 38px;
        background-image: url('~@/assets/icon/icon_playbutton_cyan.svg');
        &.c-cyan    {background-image: url('~@/assets/icon/icon_playbutton_cyan.svg');}
        &.c-yellow  {background-image: url('~@/assets/icon/icon_playbutton_yellow.svg');}
        &.c-green   {background-image: url('~@/assets/icon/icon_playbutton_green.svg');}
    }

    &.icon--checked {
        width: 26px; height: 26px;
        background-image: url('~@/assets/icon/icon_checked_pink.svg');
    }
    &.icon--none-checked{
        width: 26px; height: 26px;
        background-image: url('~@/assets/icon/icon_checked_none.svg');
    }





    &.icon--google{
        width: 29px; height: 29px;
        background-image: url('~@/assets/icon/icon_google.svg');
    }

    &.icon--kakaobubble {
        width: 28px; height: 26px;
        background-image: url('~@/assets/icon/icon_kakaobubble.svg');
    }


}