
.fade-left-enter-active , .fade-left-leave-active {
    transition: transform 600ms $EASE_outQuart , opacity 200ms ease;
}

.fade-left-leave-active {
    position: absolute !important;
    // border: 1px solid #000;
    width: 100%;
}

.fade-left-leave {
    opacity: 1;
    transform : translate3d(0, 0, 0);
}
.fade-left-leave-to {
    opacity: 0;
    transform : translate3d(-40px, 0, 0) ;
}

.fade-left-enter-active {
    position: relative;
}

.fade-left-enter {
    opacity: 0;
    transform : translate3d(40px, 0, 0) ;
}
.fade-left-enter-to{
    opacity: 1;
    transform : translate3d(0, 0, 0);
}