.fade-left-leave-active {
    position: absolute !important;
    width: 100%;
    transition: transform 300ms $EASE_inCubic , opacity 400ms ease;
}
.fade-left-enter-active  {
    transition: transform 600ms $EASE_outQuart , opacity 600ms ease;
    transition-delay: 400ms;
}

.fade-left-leave {
    opacity: 1;
    transform : translate3d(0, 0, 0);
}
.fade-left-leave-to {
    opacity: 0;
    transform : translate3d(-40px, 0, 0) ;
}

.fade-left-enter-active {
    position: relative;
}

.fade-left-enter {
    opacity: 0;
    transform : translate3d(40px, 0, 0) ;
}
.fade-left-enter-to{
    opacity: 1;
    transform : translate3d(0, 0, 0);
}








