.page-contents {
    
}

.curriculum-description{
    margin-top: 28px;
    // line-height: $SIZE_lineheight_high1;

    .precaution {
        // line-height: 1.2em;
        margin-top: 10px;

        @include hardSelect {
            font-size: 14px;
        }

        li {
            display: inline-block;
        }

    }
}


.curriculum-title {
    margin-top: 88px;
    margin-bottom: 20px;

    h2 {
        position: relative;
        font-size: $SIZE_PC_fontsize_title;

        @include phone {
            font-size : $SIZE_MO_fontsize_title;
            // font-size: calc(22px + 3.5vw);
        }
        span {
            display: inline-block;
        }
    }
}


.curriculum-map {
    // border: 1px solid #000;

    .area__inner {
        // border: 1px solid #000;
    }
}