html , body {
    // width: 100%;
    // @include phone {
    //     overflow-x: hidden;
    // }
    // overflow: overlay;
    // font-smooth: auto;
    // font-smooth: never;
    font-smooth: always;

    -webkit-overflow-scrolling: touch !important;
    // 폰트 부드럽게 만드는 속성
    -webkit-font-smoothing: antialiased;

    @include phone {
        // min-height: 100%;
        height: 100%;
    }

}


body {

    @include hardSelect {
        font-style: normal;
        // text-rendering: optimizeLegibility;
        box-sizing: border-box;
        // font-family: 'Apple SD Gothic Neo', 'Spoqa Han Sans', 'Noto Sans KR', 'Malgun Gothic', 'Dotum', sans-serif;
        // font-family: 'Noto Sans KR', 'Malgun Gothic', 'Dotum', sans-serif;
        line-height: $SIZE_lineheight_middle ;
        word-break: keep-all;
        // font-weight: 300;
        font-family: 'Roboto' , 'Noto Sans KR' , 'Apple SD Gothic Neo', 'Malgun Gothic', 'Dotum', sans-serif;
        // font-family: 'Apple SD Gothic Neo','Malgun Gothic', 'Dotum', sans-serif;

        font-size: $SIZE_PC_fontsize_default;
        letter-spacing: $SIZE_letterspacing_default;
        color: $COLOR_navy_1;

        @include phone {
            font-size: $SIZE_MO_fontsize_default;
            // height: 100%;
        }
    }

    &.st-lockscroll {
        width: 100vw; height: 100%;
        overflow: hidden;
    }

    @include phone {
        // overflow-x: hidden;
    }

}

.image-box {
    display: inline-block;
    vertical-align: top;
    img {
        width: 100%; height: 100%;
        display: inline-block;
        vertical-align: top;
    }
}

.fw {
    &-100 {font-weight: 100;}
    &-200 {font-weight: 200;}
    &-300 {font-weight: 300;}
    &-400 {font-weight: 400;}
    &-500 {font-weight: 500;}
    &-600 {font-weight: 600;}
    &-700{font-weight: 700;} &-b {font-weight: 700;}
    &-800 {font-weight: 800;}
    &-900 {font-weight: 900;}
}

.visible {
    &-phone {
        @include overPhone { display: none !important; }
    }
    &-overphone {
        @include phone { display: none !important; }
    }
}

.op-0 {
    opacity: 0 !important;
}
.op-1 {
    opacity: 1 !important;
}

.d-n {
    display: none !important;
}
.d-ib {
    display: inline-block !important;

}

.area__container {
    width: auto;
    // position: relative;
    overflow: hidden;
    max-width: 100vw;
    min-width: $SIZE_PC_contentWidth;
    @include phone {
        min-width : 100%;
    }
}

.area__outer{
    min-width: $SIZE_PC_contentWidth;
    position: relative;
    box-sizing: border-box;

    @include phone {
        min-width : 100%;
    }

    .area__inner {
        position: relative;
        z-index: 10;
        padding : 0 $SIZE_PC_innerPadding;
        box-sizing: border-box;
        margin-left : auto;
        margin-right :auto;
        width: $SIZE_PC_contentWidth;

        > * {
            border: 1px solid #d3d !important;
        }

        @include phone {
            // padding: 0;
            padding : 0 $SIZE_MO_innerPadding;
            width: 100%;
            max-width : $SIZE_MO_contentWidth;
            // min-width : 100%;
            flex-direction: column;
            // border: 1px solid #d3d;
            // > * {
            //     border: 1px solid #aaa;
            //     padding : 0 $SIZE_MO_innerPadding;
            // }

            &.mo-max{
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

        }

    }

    .area__source {
        z-index: 1;
        position: absolute;
        top: 0;left: 0;
        width: 100%; height: 100%;
        overflow: hidden;
        .area_source-item {
            position: absolute;
            box-sizing: border-box;
            display: inline-block;
            width: 100%; height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .area__bg {
        display: inline-block;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 0;
    }

}

.showing-section {
    padding: 100px 0;
    word-break: keep-all;
    font-weight: 300;

    @include phone {
        padding: 80px 0;
    }

    .showing__subtitle {
        display: flex;
        align-items: center;
        font-size: $SIZE_PC_fontsize_large;
        font-weight: 700;

        @include phone {
            font-size: $SIZE_MO_fontsize_strong;
        }

        .icon{
            margin-right: 8px;
        }
    }

    .showing__title {
        display: flex;
        font-size: $SIZE_PC_fontsize_title;
        margin-top: 18px;
        line-height: $SIZE_lineheight_low;

        @include phone {
            margin-top: 30px;
            // font-size: 36px;
            font-size: $SIZE_MO_fontsize_title;
            margin-right: 10vw;
        }
    }
    .showing__description {
        margin-top: 18px;
        line-height: $SIZE_lineheight_high1;
        display: flex;
        @include phone {
            margin-top: 30px;
            // font-size: 22px;
            font-size: $SIZE_MO_fontsize_strong;
            margin-right: 4vw;
            margin-right: 15vw;
        }
    }

    .showing__link {
        margin-top: 28px;
        display: inline-flex;
        align-items: center;
        font-size: $SIZE_PC_fontsize_large;
        font-weight: 700;
        position: relative;

        @include phone {
            font-size: $SIZE_MO_fontsize_strong;
        }

        .icon--arrow {
            margin-bottom: 2px;
            margin-left: 10px;

            @include phone {
                width: 15px;
            }
        }
    }

    .precaution {
        margin-top: 18px;
    }

    .showing__content {
        position: relative;
        z-index: 10;
    }

    .showing__source {
        box-sizing: border-box;
    }


    &.type-center {
        @include overPhone {
            .showing__subtitle,
            .showing__title,
            .showing__description {
                justify-content: center;
            }
        }
    }

    &.type-right {
        @include overPhone {
            text-align: right;

            .area__inner {
                flex-direction: row-reverse;
            }

            .showing__subtitle {
                // flex-direction: row-reverse;

                i {
                    margin-left: auto;
                    margin-right: 0;

                     + span {
                         margin-left: 8px;
                     }
                }
            }

            .showing__title {
                justify-content: flex-end;

            }
            .showing__description {
                justify-content: flex-end;
                ul {
                    li {
                        &::before {
                            margin-left: auto;
                        }
                    }
                }

            }
        }

    }

}



.hover-link{
    position: relative;
    overflow: hidden;
    // background-color: #aaa;
    box-sizing: border-box;
    display: inline-block;
    line-height: inherit;
    // line-height: normal;
    // line-height: ;
    vertical-align: top;
    font-size: inherit;
    cursor: pointer;
    // padding: 0.07em 0.1em 0.075em;

    > span {
        box-sizing: border-box;
        // display: inline-block;
        line-height: inherit;
        // vertical-align: top;
        position: relative;
        height: 100%; width: 100%;
        // height: auto;
        // padding: 0.01em 0.12em 0.05em 0.05em;
        // border: 1px solid #aaaacc;
    }

    > * {
        z-index: 2;
    }

    &::before {
        position: absolute;
        content: '';
        width: 102%; height: 100%;
        top: 0; left: -1%;
        transform: translateY(calc(101% + 1px));
        transition: transform 250ms $EASE_outExpo, color 100ms ease , opacity 200ms ease , background-color 200ms ease;
        background-color: $COLOR_navy_2;
        z-index: 1 !important;
        vertical-align: top;
        // display: none;
    }

    &::after {
        content : '';
        position: absolute;
        width: 102%; height: 1px;
        background-color: $COLOR_navy_2;
        left: 0; bottom: 0;
        vertical-align: top;
        display: none;
    }


    &.type-underline {
        &::after {
            display: inline-block;
        }
    }

    .precaution & {
        color: $COLOR_gray;
        &::before {background-color: $COLOR_gray;}
    }

    &.theme-pink {
        color: $COLOR_pink_1;
        &::before ,&::after {background-color: $COLOR_pink_1;}
    }

    @include hover {
        color: #fff !important;
        font-weight: 700;
        &::before {
            transform: translateY(0);
            opacity: 1;
            background-color: $COLOR_navy_2;
        }

        &.theme-pink {
            &::before ,&::after {background-color: $COLOR_pink_1;}
        }
    }
}

.hover-underline {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0; left: 0;
        transform : scaleX(0);
        background-color: $COLOR_navy_1;
        transition: transform 120ms $EASE_outCubic;
        transform-origin: center;
        height: 0.1em; width: 100%;
    }

    @include hover {
        &::before {
            transform: scaleX(1);
        }
    }

    &.color-white {
        &::before {
            background-color: #fff;
        }
    }
}



.valueboard{
    display: block;
    // line-height :$SIZE_lineheight_middle;
    padding-top: 70px;

    & + .valueboard {
        margin-top: 70px;
        border-top: 1px solid $COLOR_linegray;
    }

    .valueboard__header {
        // border: 1px solid #000;

        h3.valueboard__title {
            font-size: $SIZE_PC_fontsize_title;
        }
    }

    .valueboard__content {
        margin-top: 30px;
        // border: 1px solid #000;

        .valueboard__block {
            // border: 1px solid #000;
            display: flex;
            padding: 18px 0;
            // min-height: 30px;

            .valueboard__key {
                // border: 1px solid #000;
                font-weight: bold;
                width: 160px;
                flex: 0 0 160px;
                // margin-top: 6px;
                .valueboard__keyname {
                    display: inline-block;
                    width: 100%;
                }
            }

            .valueboard__value{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                // border: 1px solid #d3d;
                flex-wrap: wrap;

                &.type-column {
                    flex-direction: column;
                    justify-content: center;
                    align-self: start;
                }
            }
        }


    }
}



[class^=prefix--] {
    display: flex;
    &::before {
        font-size: inherit;
        margin-right: 0.2em;
        position: relative;
    }
}

.prefix--asterisk::before{
    content : '*';
    top: 0.2em;
}

.prefix--dot::before{
    content : '•';
}




@mixin layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;

        &:not(.layout-escape) {
            padding-left: $SIZE_PC_innerPadding;
            padding-right: $SIZE_PC_innerPadding;
            max-width: $SIZE_PC_contentWidth;
            margin: 0 $SIZE_PC_innerPadding;
            @include phone {
                max-width: $SIZE_MO_contentWidth;
                padding : 0 $SIZE_MO_innerPadding;
                margin : 0 $SIZE_MO_innerPadding;
            }
        }
    }
}

.layout {
    @include layout;
}




.precaution {
    // line-height: $SIZE_lineheight_high1;
    // font-size: 14px;
    // margin-top: 18px;
    @include hardSelect {
        color: $COLOR_gray;
    }
}

[class^=list--] {

    display: inline-block;
    li {
        list-style: auto;
        position: relative;
        display: flex;
        align-items: top;
        &+li {
            margin-top: 8px;
            @include phone {
                margin-top: 5px;
            }
        }
        &::before {
            display: inline-block;
            position: relative;
            margin-right: calc(1px + 0.18em);
        }
    }

    &.list--dot li::before {
        content: '•';
        font-size: 1.2em;
        top: -0.025em;
    }
    &.list--asterisk li::before {
        content: '*';
        top: 0.08em;
        font-size: 1.1em;
    }

}

.text--display-l { @include TEXT_DISPLAY_L(); }
.text--display-m { @include TEXT_DISPLAY_M(); }
.text--display-s { @include TEXT_DISPLAY_S(); }
.text--display-xs { @include TEXT_DISPLAY_XS(); }
.text--heading-l { @include TEXT_HEADING_L(); }
.text--heading-m { @include TEXT_HEADING_M(); }
.text--heading-s { @include TEXT_HEADING_S(); }
.text--heading-xs { @include TEXT_HEADING_XS(); }
.text--subtitle-l { @include TEXT_SUBTITLE_L(); }
.text--subtitle-m { @include TEXT_SUBTITLE_M(); }
.text--subtitle-s { @include TEXT_SUBTITLE_S(); }
.text--button-m { @include TEXT_BUTTON_M(); }
.text--button-s { @include TEXT_BUTTON_S(); }