i[class^=icon] {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 10px; height: 10px;
    vertical-align: top;
}
i.icon {

    &--account {
        width: 25px; height: 30px;
        background-image: url('~@/assets/icon/icon_account_person.svg');
        &.c-white {background-image: url('~@/assets/icon/icon_account_person_white.svg')}
    }
    &--dropdown-arrow {
        background-image: url('~@/assets/icon/icon_dropdown_arrow.svg');
        &.c-white {background-image: url('~@/assets/icon/icon_dropdown_arrow_white.svg')}
    }
    &--signout-arrow {
        background-image: url('~@/assets/icon/icon_signout_arrow.svg');
        // &.c-white {background-image: url('~@/assets/icon/icon_signout_arrow_white.svg')}
    }

    &--alphabet {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_alphabet.svg');
    }
    &--movieslate {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_movieslate.svg');
    }
    &--talkwow {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_talkwow.svg');
    }
    &--waypoint {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_waypoint.svg');
    }
    &--uppergraph {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_uppergraph.svg');
    }
    &--todoenglish-school {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_todoenglish_school.svg');
    }
    &--use-tablet {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_use_tablet.svg');
    }
    &--calendar {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_calendar.svg');
    }
    &--redflag {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_redflag.svg');
    }
    &--talking {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_talking.svg');
    }
    &--todo-logo {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_todologo.svg');
    }
    &--todoenglish {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_todoenglish.svg');
    }
    &--report {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_report.svg');
    }
    &--write-paper {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_writepaper.svg');
    }
    &--hihello {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_hihello.svg');
    }
    &--celebrate {
        width: 60px; height: 60px;
        background-image: url('~@/assets/icon/icon_badge_celebrate.svg');
    }
    &--arrow {
        width: 19px; height: 19px;
        background-image: url('~@/assets/icon/icon_arrow_purple.svg');
        &.c-cyan    {background-image: url('~@/assets/icon/icon_arrow_cyan.svg');}
        &.c-yellow  {background-image: url('~@/assets/icon/icon_arrow_yellow.svg');}
        &.c-green   {background-image: url('~@/assets/icon/icon_arrow_green.svg');}
    }

    &--linearrow {
        width:22px; height: 22px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 22%; left: 11%;
            width: 56%; height: 56%;
            border-right: 1px solid $COLOR_navy_2;
            border-top: 1px solid $COLOR_navy_2;
            transform : rotate(45deg);
        }

        &.type-right::before {
            left: 11%;
            transform : rotate(45deg);
        }
        &.type-top::before {}
        &.type-bottom::before {}
        &.type-left::before {
            left: 33%;
            transform : rotate(-135deg);
        }

    }

    &--arrow-simple {
        width: 20px; height: 20px;
        background-size: 200%;
        overflow: hidden;
        background-position: 0 0 ;
        background-image: url('~@/assets/icon/icon_arrow_simple_1.svg');
        transition: background-position 300ms $EASE_outCubic;

        &.type-top , &.type-bottom{
            background-size: 100%;
            background-image: url('~@/assets/icon/icon_arrow_simple_2.svg');
        }

        &.type-left {}
        &.type-right {background-position: 100% 0;}
        &.type-top {}
        &.type-bottom {background-position: 0 100%;}

    }

    &--playbutton {
        width: 38px; height: 38px;
        background-image: url('~@/assets/icon/icon_playbutton_cyan.svg');
        &.c-cyan    {background-image: url('~@/assets/icon/icon_playbutton_cyan.svg');}
        &.c-yellow  {background-image: url('~@/assets/icon/icon_playbutton_yellow.svg');}
        &.c-green   {background-image: url('~@/assets/icon/icon_playbutton_green.svg');}
    }

    &--checked {
        width: 26px; height: 26px;
        background-image: url('~@/assets/icon/icon_checked_pink.svg');
    }
    &--none-checked{
        width: 26px; height: 26px;
        background-image: url('~@/assets/icon/icon_checked_none.svg');
    }





    &--google{
        width: 29px; height: 29px;
        background-image: url('~@/assets/icon/icon_google.svg');
    }

    &--kakaobubble {
        width: 28px; height: 26px;
        background-image: url('~@/assets/icon/icon_kakaobubble.svg');
    }


    &--rect-kakao {
        width: 28px; height: 28px;
        background-image: url('~@/assets/icon/icon_rect_kakao.svg');
    }
    &--rect-google {
        width: 28px; height: 28px;
        background-image: url('~@/assets/icon/icon_rect_google.svg');
    }


    &--mail {
        width: 20px; height: 20px;
        background-image: url('~@/assets/icon/icon_mail.svg');
    }


    &--logoschool {
        width: 20px; height: 20px;
        background-image: url('~@/assets/logo/logo_school.svg');
        &.c-white { background-image: url('~@/assets/logo/logo_school_white.svg');}
    }


    &--key {
        width: 26px; height: 14px;
        background-image: url('~@/assets/icon/icon_key.svg');
    }
    &--lock {
        width: 17px ; height: 20px;
        background-image: url('~@/assets/icon/icon_lock.svg');
    }

    &--cancel {
        width: 32px; height: 32px;
        background-image: url('~@/assets/icon/icon_cancel.svg');
        .c-white {
            background-image: url('~@/assets/icon/icon_cancel_white.svg');
        }
    }


}