
// 이하 예시들

$STANDARD_mobile : 768px;
$STANDARD_tablet : 1024px;
$STANDARD_fhd : 1920px;

$STANDARD_mobileMin : 769px;

// 스마트폰 사이즈 전용
@mixin phone {
    @media screen and (max-width : $STANDARD_mobile){
        @content;
    }
}

//스마트폰 이상일때

@mixin overPhone {
    @media screen and (min-width : $STANDARD_mobileMin){
        @content;
    }
}

// 타블렛 사이즈 전용
@mixin tablet {
    @media screen and (max-width : $STANDARD_tablet) and (min-width : $STANDARD_mobile){
        @content;
    }
}

// 타블렛 이하 스마트폰을 포함하는 사이즈
@mixin mobile {
    @media screen and (max-width : $STANDARD_tablet){
        @content;
    }
}

// 받은 값보다 이하일때
@mixin lessThenSize($size) {
    @media screen and (max-width : $size){
        @content;
    }
}

@mixin desktop {
}

@mixin hover {
    #app.unuse_touch &:hover {
        @content;
    }
}

@mixin unuseTouch {
    #app.unuse_touch & {
        @content;
    }
}

// 하위 시멘틱 태그들까지 강력하게 셀렉팅
@mixin hardSelect {
    @content;
    a ,button , input, textarea,h1,h2,h3,h4,h5,h6{
        @content;
    }
}

@mixin hideScrollbar {
    &::-webkit-scrollbar {
        opacity: 0;
        // display: none;
        visibility: hidden;
        width: 0; height: 0;
    }
}

:export {
    mobileSize :$STANDARD_mobile
}