
$EASE_inCubic       : cubic-bezier(0.32, 0, 0.67, 0);
$EASE_inExpo        : cubic-bezier(0.7, 0, 0.84, 0);
$EASE_inBack        : cubic-bezier(0.36, 0, 0.66, -0.56);
$EASE_outCubic      : cubic-bezier(0.33, 1, 0.68, 1);
$EASE_outQuart      : cubic-bezier(0.25, 1, 0.5, 1);
$EASE_outQuint      : cubic-bezier(0.22, 1, 0.36, 1);
$EASE_outExpo       : cubic-bezier(0.16, 1, 0.3, 1);

$EASE_outBack       : cubic-bezier(0.34, 1.56, 0.64, 1);
$EASE_outBack2      : cubic-bezier(.34,2.05,.56,.97);
$EASE_outBack3      : cubic-bezier(.4,2.5,.42,.73);
$EASE_inOutSine     : cubic-bezier(0.37, 0, 0.63, 1);
$EASE_inOutCubic    : cubic-bezier(0.65, 0, 0.35, 1);
$EASE_inOutQuart    : cubic-bezier(0.76, 0, 0.24, 1);
$EASE_inOutQuint    : cubic-bezier(0.83, 0, 0.17, 1);
$EASE_inOutExpo     : cubic-bezier(0.87, 0, 0.13, 1);

$SIZE_PC_fontsize_title          : 48px;
$SIZE_PC_fontsize_subtitle       : 28px;
$SIZE_PC_fontsize_large          : 22px;
$SIZE_PC_fontsize_strong         : 18px;
$SIZE_PC_fontsize_default        : 16px;
$SIZE_PC_fontsize_small          : 14px ;

$SIZE_MO_fontsize_title          : 30px;
$SIZE_MO_fontsize_subtitle       : 24px;
$SIZE_MO_fontsize_large          : 20px;
$SIZE_MO_fontsize_strong         : 16px;
$SIZE_MO_fontsize_default        : 14px;
$SIZE_MO_fontsize_small          : 13px;

$SIZE_PC_contentWidth           : 1024px;
$SIZE_MO_contentWidth           : 560px;

$SIZE_PC_innerPadding           : 35px;
// $SIZE_MO_innerPadding           : calc(1px + 3vw);
// $SIZE_MO_innerPadding           : calc(3px + 2.8vw);
$SIZE_MO_innerPadding           : 12px;

$SIZE_lineheight_high3          : 2;
$SIZE_lineheight_high2          : 1.8;
$SIZE_lineheight_high1          : 1.62;
$SIZE_lineheight_middle         : 1.4;
$SIZE_lineheight_low            : 1.25;

$SIZE_letterspacing_high        : 0.06em;
$SIZE_letterspacing_middle      : 0.035em;
$SIZE_letterspacing_low         : 0em;
$SIZE_letterspacing_default     : -0.035em;
$SIZE_letterspacing_short       : -0.06em;
$SIZE_letterspacing_shorter     : -0.09em;


$SIZE_PC_footerMargin : 160px;

$COLOR_navy_1           : rgba(52,45,81,1);
@function COLOR_navy_1($a) {@return rgba(52,45,81, $a);}
$COLOR_navy_2           : rgba(55,44,119,1);
@function COLOR_navy_2($a) {@return rgba(55,44,119,$a);}
$COLOR_violet_1         : rgba(152,87,219,1);
$COLOR_mint_1           : rgba(21,171,153,1);
@function COLOR_mint_1($a) {@return rgba(21,171,153, $a);}
$COLOR_pink_1           : rgba(247,65,156,1);
@function COLOR_pink_1($a) {@return rgba(247,65,156, $a);}
$COLOR_orange_1         : rgba(229,128,27,1);
$COLOR_blue_1           : rgba(29,139,207,1);

$COLOR_offwhite         : rgba(242,240,233,1);
$COLOR_lightgray_1      : rgba(249,249,249,1);
$COLOR_lightgray_2      : rgba(245,245,247,1);
$COLOR_gray             : rgba(151,151,151,1);
$COLOR_linegray         : rgba(52,45,81,0.15);

$COLOR_overlaywhite     : rgba(255,255,255,0.4);
$COLOR_overlayblack     : rgba(0,0,0,0.4);

$COLOR_kakaoBrown       : rgba(60,30,30,1);
$COLOR_kakaoYellow      : rgba(250,225,0,1);

$COLOR_laterBlue        : rgba(0, 119, 255, 0.877);

// $SIZE_PC_gnbHeight : 114px;
$SIZE_PC_gnbHeight : 68px;
$SIZE_MO_gnbHeight : 64px;






@mixin TEXT_DISPLAY_L {
    font-size: 108px;
    line-height: 1.22em;
    font-weight: 300;
    @include phone {
        font-size: 88px;
    }
}

@mixin TEXT_DISPLAY_M {
    font-size: 88px;
    line-height: 1.22em;
    font-weight: 300;
    @include phone {
        font-size: 72px;
    }
}
@mixin TEXT_DISPLAY_S {
    font-size: 56px;
    line-height: 1.22em;
    font-weight: 300;
    @include phone {
        font-size: 44px;
    }
}
@mixin TEXT_DISPLAY_XS {
    font-size: 40px;
    line-height: 1.22em;
    font-weight: 300;
    @include phone {
        font-size: 32px;
    }
}

@mixin TEXT_HEADING_L {
    font-size: 60px;
    line-height: 1.25em;
    font-weight: 400;
    @include phone {
        font-size: 48px;
    }
}

@mixin TEXT_HEADING_M {
    font-size: 44px;
    line-height: 1.25em;
    font-weight: 400;
    @include phone {
        font-size: 36px;
    }
}

@mixin TEXT_HEADING_S {
    font-size: 36px;
    line-height: 1.25em;
    font-weight: 400;
    @include phone {
        font-size: 28px;
    }
}

@mixin TEXT_HEADING_XS {
    font-size: 32px;
    line-height: 1.25em;
    font-weight: 400;
    @include phone {
        font-size: 24px;
    }
}

@mixin TEXT_SUBTITLE_L {
    line-height: 1.4em;
    font-weight: 700;
    font-size: 28px;
    @include phone {
        font-size: 20px;
    }
}
@mixin TEXT_SUBTITLE_M {
    line-height: 1.4em;
    font-weight: 700;
    font-size: 24px;
    @include phone {
        font-size: 16px;
    }
}
@mixin TEXT_SUBTITLE_S {
    line-height: 1.4em;
    font-weight: 700;
    font-size: 24px;
    @include phone {
        font-size: 14px;
    }
}

@mixin TEXT_BUTTON_M {
    line-height: 1.4em;
    font-weight: 700;
    font-size: 28px;
    @include phone {
        font-size: 20px;
    }
}
@mixin TEXT_BUTTON_S {
    line-height: 1.4em;
    font-weight: 700;
    font-size: 24px;
    @include phone {
        font-size: 14px;
    }
}
