// @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
// @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');
// @import url(//fonts.googleapis.com/css2?family=Caveat&display=swap);

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:    local('')
            , url('~@/style/font/roboto-v20-latin-regular.woff2') format('woff2')
            , url('~@/style/font/roboto-v20-latin-regular.woff') format('woff')
            ;
}

@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    src:    local('')
            , url('~@/style/font/roboto-v20-latin-700.woff2') format('woff2')
            , url('~@/style/font/roboto-v20-latin-700.woff') format('woff')
            ;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:    local('')
            , url('~@/style/font/noto-sans-kr-v13-latin_korean-regular.woff2') format('woff2')
            , url('~@/style/font/noto-sans-kr-v13-latin_korean-regular.woff') format('woff')
            ;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: bold;
    font-weight: 700;
    src:    local('')
            , url('~@/style/font/noto-sans-kr-v13-latin_korean-700.woff2') format('woff2')
            , url('~@/style/font/noto-sans-kr-v13-latin_korean-700.woff') format('woff')
            ;
}