.page-contents {
    margin-bottom: $SIZE_PC_footerMargin;
}

.product-explain-benefit {
    display: flex;
    flex-direction: column;

    .showing__title {
        @include phone {
            margin:0 auto;
        }
    }
    .explain-benefit__list {
        width: 100%;
        margin-top: 100px;
        display: inline-flex;
        justify-content: space-between;

        @include phone {
            flex-direction: column;
            width: auto;
            margin: 0 auto;
            margin-top: 34px;
        }

        .explain-benefit__item {
            width:auto;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;

            @include phone {
                margin-top: 18px;
                flex-direction: row;
                align-items: center;
                width: auto;
            }

            .icon {
                width: 140px;
                height: 140px;
                @include phone {
                    margin-right: 10px;
                    width: 60px;
                    height: 60px;
                    flex: 0 0 60px;
                }
            }

            p {
                font-size: $SIZE_PC_fontsizeLarge;
                margin-top: 40px;
                @include phone {
                    font-size: $SIZE_MO_fontsizeLarge;
                    margin-top: 0;
                    height: auto;
                }
            }
        }
    }
}

.product-explain-content {
    background-color: rgb(152,87,219);
    overflow: hidden;

    @include hardSelect {
        color: #fff;
    }

    @include phone {
        padding-bottom: 0;
    }

    .area__inner {
        padding-bottom: 200px;
        @include phone {
            padding-bottom: 0;
        }
    }

    .showing__source {
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;

        @include phone {
            position: relative;
        }

        .image-box {
            transform: scale(1.3);
            position: relative;
            left: 39%;
            top: 20%;
            @include phone {
                transform: scale(1.7);
                margin-top: 60px;
                left: 10%; 
                margin-bottom: -20%;
            }
        }
    }

}

.product-explain-report {
    background-color: rgb(251,188,184);
    padding-bottom: 0;
    overflow: hidden;

    .showing__source {
        width: 100%;
        margin-top: 50px;
        height: 400px;
        overflow: hidden;

        @include phone {
            border: 1px solid #000;
            height: auto;
            width: 210%;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            margin-bottom: -38%;
        }

        .image-box {
            overflow: hidden;
            vertical-align: top;
            img {
                width: 100%;
                object-fit: cover ;
                object-position: top;
            }
        }
    }

}

.product-explain-worksheet {

    background-color: rgb(222,237,240);
    overflow: hidden;
    @include phone {
        padding-bottom: 0;
    }

    .area__inner {
        padding-bottom: 160px;
        @include phone {
            padding-bottom: 0;
        }
    }

    .showing__content {

    }

    .showing__source {
        position: absolute;
        left: 300px; bottom: 100px;
        width: 100%; height: 100%;


        @include phone {
            position: relative;
            left: 0; bottom: 0;
            margin-top: 60px;
            transform: scale(1.2);
            transform-origin: bottom;
        }
    }
}

.product-explain-todolive {
    background-color: rgb(243,243,245);

    @include phone {
        padding-bottom: 20px;
    }

    .area__inner {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 50px;

        @include phone {
            padding-bottom: 0;
        }
    }

    .showing__source {
        position: absolute;
        left: 0; top: 0;

        @include phone {
            margin-top: 60px;
            position: relative;
        }
        .image-box {
            width: 650px;
            @include phone {
                width: 100%; height: 100%;
            }
        }
    }
}

.product-explain-welcomepack {
    @include hardSelect {
        color: #fff;
    }

    .area__inner {
        padding-bottom: 200px;

        @include phone {
            padding-bottom: 90vw;
        }
    }

    .area__source {
        .image-box {
            width: 100%;
            height: 100%;
            background-image: url('~@/assets/product/img_welcomepack.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include phone {
                background-position: bottom;
                background-image: url('~@/assets/product/img_welcomepack_m.png');
            }
        }
    }
}


.product-subscribe {
    margin-top: 160px;

    @include phone {
        margin-top: 140px;
    }

    .section-line {
        height: 20px;
        display: block;
        display: flex;
        justify-content: center;
        // margin-top: 80px;
        margin-bottom: 80px;
        width: 100%;

        span {
            display: inline-block;
            width: 380px;height: 1px;
            background-color: #F2F0E9;
            margin: 0 auto;

            @include phone {
                width: 100%;
            }
        }
    }

}


.product-subscribe-notice {

    .area__inner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        @include phone {
            flex-direction: column;
        }
    }

    .subscribe-notice__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 36px;
        @include phone {
            margin-left: 0;
        }

        .subscribe-notice__title {
            font-size: $SIZE_PC_fontsizeLarge !important;
            @include phone {
                text-align: center;
                font-size: $SIZE_MO_fontsizeTitle !important;
            }
        }

        .subscribe-notice__precaution {
            margin-top: 18px;
            font-size: $SIZE_PC_fontsizeSmall;
            @include phone {
                width: auto;
            }
            li {
                margin-top: 6px;
                @include phone {
                    margin-top: 10px;
                }
            }
        }
    }

    .subscribe-notice__price {
        padding: 40px 48px;
        background-color: $COLOR_lightgray;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 24px;
        @include phone {
            margin-top: 40px;
            padding: 20px;
            flex-direction: row;
            align-items: center;
            border-radius: 16px;
        }

        .subscribe-notice__price__unit {
            font-size: $SIZE_PC_fontsizeLarge;
            font-weight: 300;
        }

        .subscribe-notice__price__name {
            font-weight: 700;

            @include phone {
                width: 100%;
                font-size: $SIZE_MO_fontsizeLarge;
                margin-bottom: 18px;
            }
        }

        .subscribe-notice__price__discount {
            font-size: $SIZE_PC_fontsizeLarge;
            margin-top:20px;

            @include phone {
                margin-top: 0;
            }

            .subscribe-notice__price__percent {
                font-weight: 700;
            }
            .subscribe-notice__price__origin {
                text-decoration: line-through;
                color: #999;
            }
        }
        .subscribe-notice__price__result {
            margin-top: 4px;
            font-size: $SIZE_PC_fontsizeTitle;
            font-weight: 700;
            @include phone {
                font-size: $SIZE_MO_fontsizeTitle;
                margin-left: auto;
                margin-top: 0;
            }
        }
    }

}


.product-subscribe-compare {
    margin-top: 80px;

    .area__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribe-compare__title {
        font-size: $SIZE_PC_fontsizeTitle;
        text-align: center;
        @include phone {
            font-size: $SIZE_MO_fontsizeTitle;
        }
    }

    .subscribe-compare__table {
        width: 770px;
        margin-top: 60px;

        @include phone {
            width: 100%;
            border: 1px solid #d3d;
        }
        .button--default {
            font-weight: 700;
        }

        strong  {
            font-weight: 700;
            color:$COLOR_pink_1;
        }

        table {
            width: 100%;
            @include phone {
                font-size: $SIZE_MO_fontsizeStrong;
            }
            tr {
                padding: 17px 0;
                display: flex;

                flex-grow: 0;
                flex-shrink : 0;
                flex-basis: 100%;
                justify-content: space-between;
                text-align: center;
                border-bottom: 1px solid $COLOR_linegray;

                &:last-child {
                    // border: none;
                }

                th,td {
                    width: 100%;
                    min-height:32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:nth-child(1) {
                        justify-content: start;
                        text-align: left;
                    }
                }

            }
            thead {
                font-weight: 700;
                tr {

                    border-bottom: 2px solid $COLOR_navy_1 !important;
                }
            }

            tbody {

                tr {
                    th {
                        font-weight: 300;
                    }
                }
            }
        }

        .subscribe-compare__howto {
            display: flex;
            justify-content: flex-end;
            margin-top: 17px;

            @include phone {
                flex-direction: column;
                margin-top: 60px;
            }

            > * {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .subscribe-compare__howto-way {
                font-size: 0;
                color:transparent;
                visibility: hidden;
            }

            .subscribe-compare__howto-app {

            }

            .subscribe-compare__howto-web {
                .button--default {
                    font-size: 22px;
                    width: 80%;
                    margin-top: 18px;
                }
            }
        }
    }

}