
$tempblue : rgb(30, 143, 255);
// $tempblue_a : rgba(30, 143, 255;

$outerPadding : 16px;

// 컴포넌트 페이지에서는 공용 네비게이션과 footer를 숨겨줍니다.
.page--components {
    #plate--navigation,
    #plate--footer{
        opacity: 0 !important;
        pointer-events: none !important;
        user-select: none !important;
        height: 0 !important;
        overflow:hidden !important;
        padding: 0 !important;
        * {
            pointer-events: none !important;
            user-select: none !important;
        }
    }
    #plate--page {
        // overflow: hidden !important;
    }
    #page--router {
        // overflow: hidden !important;
    }

    .show-tempblue ,
    .show-child-tempblue > * {
        box-sizing: border-box;
        border: 2px dashed $tempblue !important;
    }

}




@function tempblue_a($alpha) {
    @return rgba(30,143,255, $alpha);
}
input[type=text]{
    border: 1px solid $tempblue;
    color: $tempblue;
    padding: 5px;
    outline: none;
    background-color: #fff;
}
input.texttype-input {
    padding: 0;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    border: none;
    color :unset;
    white-space: nowrap;
}



label.radio-label {

    margin: 0 6px;
    cursor: pointer;

    input[type=radio] {
        display: none;
    }

    input[type=radio] + span{
        position: relative;
        display: inline-block;
        background-color: #fff;
        border: 1px solid $tempblue;
        border-radius: 9999px;
        padding: 3px 10px;
        font-weight: 800;
    }
    input[type=radio]:checked + span{
        background-color: $tempblue;
        color: #fff;
    }

}

label.checkbox-label {
    cursor: pointer;
    margin: 0 6px;

    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + span{
        display: inline-flex;
        align-items: center;
    }
    input[type=checkbox] + span::before{
        content: 'o';
        line-height: 1em;
        color : transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 14px; height: 14px;
        background-color: #fff;
        border: 2px solid $tempblue;
        border-radius: 4px;
        margin-right: 2px;
    }
    input[type=checkbox]:checked + span::before{
        color: #fff;
        background-color: tempblue_a(0.8);
    }
}

button.default-button {
    border: 1px solid $tempblue;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    padding:2px 5px;
    color: $tempblue;
    margin: 0 6px;
}

#mylog {
    z-index: 9999;
    position: fixed;
    border: 1px solid #d3d;
    background-color: #000;
    color: rgb(255, 193, 255);
    display: flex;
    bottom: 0; right: 0;
    font-weight: bold;
    padding: 10px;
    line-height: 1.4em;
    // display: none;
}

#comp {
    // margin: 50px !important;
    // border: 1px solid #d3d;
    box-sizing: border-box;
    color: rgb(17, 76, 153);
    // width: 100vw;
    // height: 100vh;
    // position: fixed;
    // position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: auto;
    @include phone {
        // height: 100%;
    }

}
#comp-wrap {
    // padding: 50px;
    padding: 0 $outerPadding;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%; height: 100%;
    display: flex;
    box-sizing: border-box;

    @include phone {
        padding: 0;
    }
}
#comp-not-mobile {
    display: none;

    @include phone {
        display: block;
        position: absolute;
        top: 0; left: 0;
        z-index: 10;
        width: 100%; height: 100%;
        background-color: $tempblue;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 20px;

    }
}

#comp-tab{
    padding: $outerPadding 0 ;
    display: inline-block;
    width: 240px;
    flex-basis: content;
    box-sizing: border-box;
    overflow: auto;

    position: relative;
    position: fixed;

    min-height: 100%;

    z-index: 10;

    @include phone {
        width: 100%;
        top: 0; left: 0;
        padding: 0;
        position: fixed;
        min-height: 100%;
        height: 100%;
        pointer-events: none;
        &.st-opentab {
            pointer-events: all;
        }
    }

}

.comp-tab__dimmed {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0; left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 300ms ease;
    display: none;
    @include phone {
        display: block;
    }
    .st-opentab & {
        opacity: 1;
    }
}
.comp-tab__toggle {
    position: fixed;
    top: 0; left: 0;
    width: 50px; height: 50px;
    background-color: $tempblue;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    z-index: 9;
    pointer-events: all !important;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include phone {
        display: flex;
        // opacity: 0.4;
    }
}

.comp-tab__wrap {
    background-color: #fff;
    overflow-y:scroll;
    overflow-x :hidden;
    height: auto;
    z-index: 20;
    position: relative;
    box-sizing: border-box;
    min-height: 100%;

    @include phone {
        width: 75%;
        min-height: 100%;
        height: 100%;
        transition: transform 400ms $EASE_outExpo;
        transform : translateX(-101%);
        background-color: tempblue_a(0.6);

        .st-opentab & {
            transform : translateX(0);
        }
    }
}

.tab__category {
    // border: 1px solid #d3d;
    overflow: hidden;
    box-sizing: border-box;

    & + .tab__category {
        // margin-top: 30px;
    }

}

$categorypadding : 10px;
.tab__category-name{
    border: 1px solid $tempblue;
    font-weight: 800;
    padding: $categorypadding;
    cursor: pointer;
    box-sizing: border-box;
    background-color:$tempblue ;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    color: #fff;
}

.tab__list {
    display: flex;
    flex-direction: column;
    height: 0;
    .st-open & {
        height: auto;
    }
}
.tab__item {
    padding: $categorypadding;
    cursor: pointer;
    box-sizing: border-box;
    text-indent: 20px;
    border: 1px solid #ddd;
    border-top: none;
    position: relative;
    background-color: #fff;

    @keyframes rotatePoint {
        0% {transform : rotate(0deg)}
        100% {transform : rotate(360deg)}
    }
    &.st-selected{
        font-weight: 800;
        color: $tempblue;
        &::before {
            content: '';
            left: 10px;
            width: 8px; height: 8px;background-color: $tempblue;
            top: calc(50% - 3px);
            position: absolute;
            animation: rotatePoint 4s linear infinite;
        }
    }
    & + .tab__item {

    }
    .tab__item-unique {
        font-size: 12px;
        color: #F933FF;
        // font-weight: 700;
        font-weight: 400;
        letter-spacing: 0em;
        border: 1px solid #F933FF;
        // background-color: #000;
        border-radius: 9999px;
        padding: 0 3px 1px;
    }
}


#comp-content {
    flex-grow: 1;
    // width: auto;
    // height: 100%;
    height: auto;
    width: 100%;

    position: relative;
    // overflow-y: scroll;
    // overflow-x: hidden;
    padding-top: $outerPadding;
    padding-bottom: $outerPadding;
    box-sizing: border-box;
    // margin-left: 245px;
    padding-left: 245px;

    @include phone {
        padding: 0;
        // margin-top: 50px;
        margin-left: 0;
    }

    #comp-content-wrap {
        border: 1px solid $tempblue;
        box-sizing: border-box;
        position: relative;
        height: auto;
        min-height: 99%;
        display: flex;
        flex-direction: column;

        @include phone {
            border: none;
            // margin-top: 50px;
            margin-top: 50px;
        }
    }


}

.comp-component {
    width: 100%;

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    position: relative;
}

.comp-view {
    min-height : 300px;
    width: 100%;
    border: 3px solid $tempblue;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image : url('~@/assets/temp/grid.svg');
    background-color : tempblue_a(0.05);
    background-size : 2%;
    @include phone {
        padding: 10px;
    }

    &.row  {
        flex-direction: row;
        flex-wrap: wrap;
        > * {
            margin-right: 10px;
        }
    }
}

.comp-view > * {
    // width: auto !important;
}

.comp-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: tempblue_a(0.2);
    position: relative;
    color: $tempblue;

    > div {
        display: flex;
        align-items: center;
        + div {
            margin-top: 10px;
        }
    }
}

.comp-view::before ,
.comp-control::before{
    font-size: 13px;
    position: absolute;
    width: auto; height: auto;
    padding: 4px 8px 6px;
    top: 0; right: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: tempblue_a(0.5);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.comp-view::before {
    content: 'view';
    background-color: tempblue_a(1);
}
.comp-control::before {
    content: 'control';
}


.comp-infomation {
    > * {
        margin-bottom: 10px;
    }
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    line-height: $SIZE_lineheight_high2;
    // position: relative;

    @include phone {
        padding: 8px;
    }

    .comp-title {
        font-size: 30px;
        font-weight: bold;

        @include phone {
            font-size: 26px;
        }
    }

}
.comp-need-select {
    // position: absolute;
    width: 100%;
    // height: 100%;
    display: inline-block;
    // position: relative;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    // border: 1px solid #d3d;
    font-weight: 700;

    // top: 50%; left: 0;
    // position: absolute;
    text-align: center;
    // transform: translateY(-50%);
}
.comp-propslist {
    background-color: tempblue_a(0.6);
    padding: 20px;
    border-radius: 6px;
    letter-spacing: 0.05em;
    color: #fff;
    @include phone {
        padding: 8px;
    }

    li {
        border-top: 1px solid rgba(255,255,255,0.5);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 3px 0 ;
        word-break: keep-all;
        &:nth-of-type(1) {
            border-top: none;
        }
        @include phone {
            flex-direction: column;
        }
        .comp-propslist-key {
            padding-right: 30px;
            box-sizing: border-box;
            display: inline-block;
            font-weight: 800;
            width: 34%;
            min-width: 34%;
        }
        .comp-infovalue-value{
            width: 66%
        }

        > div {
            @include phone {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}

.comp-infovalue {
    border: 1px solid $tempblue;
    padding: 20px;
    border-radius: 6px;
    letter-spacing: 0.05em;
    @include phone {
        padding: 8px;
    }
    li {
        border-top: 1px solid tempblue_a(0.25);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 3px 0 ;
        word-break: keep-all;
        @include phone {
            flex-direction: column;
        }
        &:nth-of-type(1) {
            border-top: none;
        }
        .comp-infovalue-key {
            width: 34%;
            min-width: 34%;
            padding-right: 30px;
            box-sizing: border-box;
            // min-width : 100px;
            // width: 100px;
            display: inline-block;
            font-weight: 800;
        }
        .comp-infovalue-value{
            width: 66%
        }

        > div {
            @include phone {
                width: 100%;
                min-width: 100%;
            }
        }

    }
}


