@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//fonts.googleapis.com/css2?family=Caveat&display=swap);

@font-face {font-family: Apple SD Gothic Neo; font-weight: 100; src :local('Apple SD Gothic Neo Thin');}
@font-face {font-family: Apple SD Gothic Neo; font-weight: 200; src :local('Apple SD Gothic Neo UltraLight');}
@font-face {font-family: Apple SD Gothic Neo; font-weight: 300; src :local('Apple SD Gothic Neo Light');}
@font-face {font-family: Apple SD Gothic Neo; font-weight: 400; src :local('Apple SD Gothic Neo Regular');}
@font-face {font-family: Apple SD Gothic Neo; font-weight: 500; src :local('Apple SD Gothic Neo Medium');}
@font-face {font-family: Apple SD Gothic Neo; font-weight: 600; src :local('Apple SD Gothic Neo SemiBold');}
@font-face {font-family: Apple SD Gothic Neo; font-weight: 700; src :local('Apple SD Gothic Neo Bold'); }
@font-face {font-family: Apple SD Gothic Neo; font-weight: 800; src :local('Apple SD Gothic Neo ExtraBold'); }
@font-face {font-family: Apple SD Gothic Neo; font-weight: 900; src :local('Apple SD Gothic Neo Heavy'); }
